In [8]:
import pandas as pd
import os

df = pd.read_csv("../raw_data/Sample - Superstore.csv",encoding="latin1")

In [9]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [11]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [12]:
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [13]:
total_sales=df['Sales'].sum()
total_profit=df['Profit'].sum()
print(f"Total sales:${total_sales:,.2f}")
print(f"Total profits:${total_profit:,.2f}")

Total sales:$2,297,200.86
Total profits:$286,397.02

In [14]:
Profit_margin = (total_profit / total_sales) * 100
print(f"Overall Profit Margin: {Profit_margin:.2f}%")

Overall Profit Margin: 12.47%

In [15]:
sales_by_category = df.groupby('Category')['Sales'].sum().sort_values(ascending=False)
print(sales_by_category)

Category
Technology         836154.0330
Furniture          741999.7953
Office Supplies    719047.0320
Name: Sales, dtype: float64

In [16]:
profit_by_category = df.groupby('Category')['Profit'].sum().sort_values(ascending=False)
print(profit_by_category)

Category
Technology         145454.9481
Office Supplies    122490.8008
Furniture           18451.2728
Name: Profit, dtype: float64

In [17]:
category_summary = df.groupby('Category').agg({'Sales': 'sum', 'Profit': 'sum'})
category_summary['Profit Margin %'] = (category_summary['Profit'] / category_summary['Sales']) * 100
print(category_summary.sort_values('Profit', ascending=False))

                       Sales       Profit  Profit Margin %
Category
Technology       836154.0330  145454.9481        17.395712
Office Supplies  719047.0320  122490.8008        17.035158
Furniture        741999.7953   18451.2728         2.486695

In [18]:
furniture_data = df[df['Category'] == 'Furniture']
furniture_profit = furniture_data.groupby('Sub-Category')['Profit'].sum().sort_values(ascending=True)
print(furniture_profit)

Sub-Category
Tables        -17725.4811
Bookcases      -3472.5560
Furnishings    13059.1436
Chairs         26590.1663
Name: Profit, dtype: float64

In [19]:
# Calculate all the metrics needed for the report
total_sales = df['Sales'].sum()
total_profit = df['Profit'].sum()
profit_margin = (total_profit / total_sales) * 100  # This is the correct variable name

# Create the category summary table
category_summary = df.groupby('Category').agg({'Sales': 'sum', 'Profit': 'sum'})
category_summary['Profit Margin %'] = (category_summary['Profit'] / category_summary['Sales']) * 100

# Get the Tables profit (from our previous analysis)
furniture_data = df[df['Category'] == 'Furniture']
tables_profit = furniture_data[furniture_data['Sub-Category'] == 'Tables']['Profit'].sum()

# eport 
print("=== SUPERSTORE PERFORMANCE REPORT ===")
print()
print("EXECUTIVE SUMMARY:")
print("Analysis reveals Furniture category has critically low profitability (2.5% margin)")
print("despite strong sales volume, driven by significant losses in Tables products.")


print("RECOMMENDATIONS:")
print("1. Investigate Tables product line costs and pricing")
print("2. Re-evaluate Furniture category strategy")  
print("3. Focus growth on Technology & Office Supplies categories")

=== SUPERSTORE PERFORMANCE REPORT ===

EXECUTIVE SUMMARY:
Analysis reveals Furniture category has critically low profitability (2.5% margin)
despite strong sales volume, driven by significant losses in Tables products.
RECOMMENDATIONS:
1. Investigate Tables product line costs and pricing
2. Re-evaluate Furniture category strategy
3. Focus growth on Technology & Office Supplies categories

In [21]:
df.to_csv(
    "../cleaned_data/cleaned_superstore.csv",
    index=False,
    encoding="utf-8"
)